* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box-container {
  width: 500px;
  height: 400px;
  margin: 50px auto;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.box {
  background-color: #172739;
}

.box-1 {
  grid-row: 1/4;
}

.box-2 {
  grid-row: 1/4;
}

.box-3 {
  grid-row: 1/3;
}

.box-4 {
  grid-row: 3/5;
  grid-column: 3/4;
}

.box-5 {
  grid-row: 5/7;
  grid-column: 3/4;
}

.box-6 {
  grid-row: 4/7;
  grid-column: 1/3;
}
